.connection {
  &.dragging {
    opacity: 0.3;
  }

  .path {
    fill: none;
    stroke: black;
    stroke-width: 1px;
  }
  
  .arrow {
    fill: black;
  }
}

.ui-el-layer .connection-handler.draggable {
  cursor: grab;

  &.grabbing {
    cursor: grabbing;
  }
}
