.element {
  .main-element:hover,
  .main-element:focus,
  .main-element.selected {
    outline: dotted 1px red;
    /* TODO: Fix hardcoded value */
    outline-offset: 0;
  }

  .text {
    transform: translate(0, 0.4em);
    text-anchor: middle;

    .text-container {
      user-select: none;
    }
  }
}
